/* Default styles for entire webpage */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ECEFF4;
    color: #3B4252;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* Bold */
}



/* Dark mode styles */
body[data-theme="dark"] {
    background-color: #2E3440;
    color: #ECEFF4;
}

body[data-theme="dark"] a {
    color: #88C0D0;
}

/* Social icons */

body[data-theme="dark"] .social-icon {
    color: #D8DEE9; /* Lighter color for icons in dark mode */
}

body[data-theme="dark"] .social-icon:hover {
    color: #4C566A; /* A bit darker on hover for contrast in dark mode */
}

.social-icon {
    color: #3B4252; /* Nord3 */
}

.social-icon:hover {
    color: #4C566A; /* This is a slightly darker gray color */
}

/* Buttons */

body[data-theme="dark"] .btn-primary {
    background-color: #81A1C1; 
    color: #D8DEE9; 
}

body[data-theme="dark"] .btn-primary:hover {
    background-color: #5E81AC; /* A bit darker on hover */
}

.btn-primary {
    background-color: #5E81AC; 
    color: #ECEFF4; 
}

.btn-primary:hover {
    background-color: #81A1C1; /* A bit darker on hover */
}

/* Default light mode styles for btn-outline-primary */
.btn-outline-primary {
    border-color: #3B4252; /* Dark border for light theme */
    color: #3B4252; /* Dark text */
}

.btn-outline-primary:hover {
    background-color: #3B4252; /* Dark background on hover */
    color: #ECEFF4; /* Light text on hover */
}

/* Dark mode styles for btn-outline-primary */
body[data-theme="dark"] .btn-outline-primary {
    border-color: #D8DEE9; /* Light border for dark theme */
    color: #D8DEE9; /* Light text */
}

body[data-theme="dark"] .btn-outline-primary:hover {
    background-color: #D8DEE9; /* Light background on hover */
    color: #2E3440; /* Dark text on hover in dark mode */
}

/* links with <a> tag */

body[data-theme="dark"] a {
    color: #88C0D0; /* Lighter color for links in dark mode */
}

a {
    color: #5E81AC; /* Nord7 */
}

a:hover {
    color: #81A1C1; /* A bit darker on hover */
}

/* Default light mode styles for links with <a> tag */
a {
    color: #5E81AC; /* Nord7 */
}

a:hover {
    color: #81A1C1; /* A bit darker on hover */
}   

/* Dark mode styles for links with <a> tag */
body[data-theme="dark"] a {
    color: #88C0D0; /* Lighter color for links in dark mode */
}

body[data-theme="dark"] a:hover {
    color: #81A1C1; /* A bit darker on hover */
}

/* Default light mode styles for links with <a> tag */

a {
    color: #5E81AC; /* Nord7 */
}

a:hover {
    color: #81A1C1; /* A bit darker on hover */
}


/* navbar */

/* Default navbar styles (light mode) */
.navbar {
    background-color: #ECEFF4; /* This is the light mode background color */
    color: #3B4252; /* Text color for light mode */
}

.navbar a {
    color: #3B4252;
}

.navbar a:hover {
    color: #2E3440; /* A slightly darker shade for hover effect in light mode */
}

/* Dark mode navbar styles */
body[data-theme="dark"] .navbar {
    background-color: #2E3440; /* Dark mode background color */
    color: #D8DEE9; /* Text color for dark mode */
}

body[data-theme="dark"] .navbar a {
    color: #D8DEE9;
}

body[data-theme="dark"] .navbar a:hover {
    color: #B3C3D3; /* A slightly lighter shade for hover effect in dark mode */
}

/* Default light mode styles */
.navbar {
    background-color: #ECEFF4;
    border: 1px solid #D8DEE9; /* Optional border */
}

.navbar .nav-link {
    color: #3B4252; /* Dark text */
}

.navbar .nav-link:hover, .navbar .nav-link.active {
    color: #2E3440; /* Slightly darker on hover and for active links */
}

.navbar-toggler-icon {
    /* Adjust the color of the hamburger icon as required, especially if it's not visible against your navbar's background color */
    filter: invert(34%);
}

/* Dark mode styles */
body[data-theme="dark"] .navbar {
    background-color: #2E3440;
    border: 1px solid #3B4252; /* Optional border */
}

body[data-theme="dark"] .navbar .nav-link {
    color: #D8DEE9; /* Light text for dark theme */
}

body[data-theme="dark"] .navbar .nav-link:hover, body[data-theme="dark"] .navbar .nav-link.active {
    color: #ECEFF4; /* Slightly lighter on hover and for active links in dark mode */
}

body[data-theme="dark"] .navbar-toggler-icon {
    filter: invert(66%);
}

/* Dropdown styling */
.dropdown-menu {
    background-color: inherit; /* Inherit from navbar for consistency */
}

.dropdown-item {
    color: inherit; /* Inherit from nav-link for consistency */
}

.dropdown-item:hover {
    background-color: #D8DEE9; /* Light gray for light mode, adjust as needed */
    color: #2E3440; /* Dark text on hover */
}

body[data-theme="dark"] .dropdown-item:hover {
    background-color: #2E3440; /* Dark gray for dark mode */
    color: #D8DEE9; /* Light text on hover in dark mode */
}

/* Links in Footer*/

.text-body-secondary {
    color: #3B4252; /* Default color for light theme */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

.text-body-secondary:hover {
    color: #88C0D0; /* Color change on hover */
    text-decoration: underline; /* Underline the text on hover */
}
body[data-theme="dark"] .text-body-secondary {
    color: #D8DEE9; /* Default color for dark theme */
}

body[data-theme="dark"] .text-body-secondary:hover {
    color: #88C0D0; /* Color change on hover for dark theme */
    text-decoration: underline; /* Underline the text on hover */
}

