/* Global font settings */
.reveal {
    font-family: 'Ubuntu', sans-serif !important;
  }
  
  
  /* For H1: Bright Blue with Shadow */
  .reveal h1 {
    color: #3e9cbf;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif !important;
  }
  
  /* For H2: Bright Green with Shadow */
  .reveal h2 {
    color: #f2c43d;
    text-shadow: 1px 1px 2px #000000;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif !important;
  
  }
  
  /* For H3: Lighter Blue */
  .reveal h3 {
    color: #f26d50;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif !important;
  
  }
  
  /* For H4: Light Gray, Less Cramped */
  .reveal h4 {
    color: #a7ecf2;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif !important;
  
  }
  
  .slides {
    font-family: 'Ubuntu', sans-serif !important;
    text-shadow: 1px 1px 2px #32528e;
  
  }
  